homeassistant~=2024.3.3
aiohttp~=3.9.3
voluptuous~=0.13.1
DateTime
async-timeout
pre-commit
pytest~=8.3.2
pytest-mock
pytest-cov
pytest-asyncio
aioresponses~=0.7.6
black
codespell
ruff
aioresponses
mypy
python-dateutil~=2.9.0.post0