name: validate

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.0

  validate-hassfest:
    name: Hassfest validation
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: validation
        uses: home-assistant/actions/hassfest@master

  validate-hacs:
    name: HACS validation
    runs-on: "ubuntu-latest"
    steps:
      - name: checkout
        uses: "actions/checkout@v3"
      - name: validation
        uses: "hacs/action@main"
        with:
          category: "integration"
